* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-Regular.d8459565.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-Regular.619a4e61.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-RegularItalic.7187915b.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-RegularItalic.af48a920.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-Bold.4ce83888.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-Bold.518ee770.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-BoldItalic.692bedfd.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-BoldItalic.2f9f8c78.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-Medium.e91952e6.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-Medium.875316ed.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-MediumItalic.05bcef97.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-MediumItalic.8ba3f3ba.woff) format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-Light.121a92e7.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-Light.2ce4d814.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-LightItalic.362ff32b.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-LightItalic.c2d05953.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-Thin.cf5705c5.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-Thin.d71e8c34.woff) format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(../fonts/ABCMonumentGrotesk-ThinItalic.69495e47.woff2) format('woff2'),
        url(../fonts/ABCMonumentGrotesk-ThinItalic.7be3037b.woff) format('woff');
    font-weight: 100;
    font-style: italic;
}

body {
    font-family: MonumentGrotesk, sans-serif;
}

@keyframes search_styles_Gradient__79kRw {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

.styles_bg {
    background: linear-gradient(270deg, #cbe6fd, #f0f6fb);
    background-size: 200% 200%;
    animation: search_styles_Gradient__79kRw 3s ease infinite;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

:root {
    --tw-bg-opacity: 1;
    --color-blue: rgb(219 239 255 / var(--tw-bg-opacity));
    --bluish-gray: rgba(10, 14, 35, 0.6);
    --color-hover: rgb(243 244 246 / var(--tw-bg-opacity));
    --color-gray-700: rgb(55 65 81 / var(--tw-bg-opacity));
}

.container {
    max-width: 1300px;
}

.gap-10.container {
    padding-right: 10px;
    padding-left: 10px;
}

.gap-10.container .row {
    margin-right: -10px;
    margin-left: -10px;
}

.gap-10.container .row [class^='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}

ul {
    list-style: none;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.wrapper-header, .tool-related {
    background-image: url(../img/diamond-lattice.png);
    background-size: cover;
}

.header {
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-menu {
    display: flex;
    align-items: center;
}

.item-menu {
    position: relative;
    margin: 0 16px;
}

.item-menu:hover .sub-menu {
    display: block;
    z-index: 9999;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    width: 192px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #e5e7eb;
}

.header-more-action {
    display: flex;
    align-items: center;
}

.header-bg {
    padding: 8px 0;
}

.header-bg.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-blue);
    z-index: 9999;
}
.link-menu:hover {
    color: var(--bluish-gray);
}
a.sub-menu-link {
    padding: 8px 16px;
    display: block;
    color: var(--color-gray-700);
    font-size: 14px;
}

a.sub-menu-link:hover {
    background: var(--color-hover);
    color: var(--bluish-gray);
}

.action {
    margin-left: 16px;
}

span.search-icon:hover {
    color: #42adff;
}

button.btn.login:hover {
    background: #dbefff;
}

button.btn.login {
    padding: 8px 16px;
    border-radius: 9999px;
    border: none;
    font-size: 14px;
    background: transparent;
}

button.btn.signup {
    border-radius: 9999px;
    padding: 8px 16px;
    color: white;
    background: #49adff;
    font-size: 14px;
}

.action {
    margin-left: 16px;
}

span.search-icon:hover {
    color: #42adff;
}

button.btn.login:hover {
    background: #dbefff;
}

button.btn.login {
    padding: 8px 16px;
    border-radius: 9999px;
    border: none;
    font-size: 14px;
    background: transparent;
}

button.btn.signup {
    border-radius: 9999px;
    padding: 8px 16px;
    color: white;
    background: #49adff;
    font-size: 14px;
}

h1.text-title {
    color: #1e293b;
    margin-top: 80px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    margin-bottom: 8px;
}

h1.text-title.text-left {
    font-size: 36px;
}

span.text-normal {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    color: #475569;
    font-size: 20px;
}

.text-normal.text-left {
    line-height: 24px;
    color: #0f172a;
}
.input-search input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
    margin-left: 20px;
    flex: 1;
}

button.btn.btn-search {
    padding: 16px;
    border-radius: 9999px;
    background: #49adfe;
    color: white;
    font-size: 18px;
}

button.btn.btn-search:hover {
    background: #058fff;
}

.input-search {
    display: inline-flex;
    position: relative;
    margin: 0 auto;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 9999px;
    border: 8px solid #d3dee8;
    width: 60%;
    margin-bottom: 24px;
    justify-content: space-between;
}

.input-search input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
    flex: 1;
    margin-left: 20px;
}

button.btn.btn-search {
    padding: 16px;
    border-radius: 9999px;
    background: #49adfe;
    color: white;
    font-size: 18px;
}

button.btn.btn-search:hover {
    background: #058fff;
}

.tags {
    display: flex;
}

ul.list-tags {
    display: flex;
    justify-content: center;
    width: 100%;
}

a.link-tag {
    padding: 12px 16px;
    border-radius: 9999px;
    background: white;
    font-size: 16px;
    color: #9facbf;
    margin: 0 4px;
    font-weight: 400;
}

a.link-tag:hover {
    background: rgb(148 207 255);
    color: white;
}

.card-item__avatar {
    display: flex;
    align-items: center;
}

.card-item {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 16px 24px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(229, 231, 235);
}

img.avatar-wrapper__image {
    width: 60px;
    height: 60px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.avatar-wrapper {
    position: relative;
}

img.avatar-wrapper__verification-badge.avatar-wrapper--position-absolute {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

h2.avatar-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    line-height: 28px;
}

.card-item__avatar-details {
    margin-left: 17px;
}

.card-item__rating img {
    width: 16px;
    height: 16px;
}

.card-item__rating {
    display: flex;
    align-items: center;
}

span.rating-count {
    margin-left: 4px;
    font-size: 18px;
    cursor: pointer;
}

span.rating-count:hover {
    text-decoration: underline;
}

.card-item__info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.card-item__info-details {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0e9f6e;
}

.card-item__info-details img svg {
    color: #0e9f6e;
}

.card-item__avatar {
    display: flex;
    align-items: center;
}

.card-item {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 16px 24px;
}

img.avatar-wrapper__image {
    width: 60px;
    height: 60px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.avatar-wrapper {
    position: relative;
}

img.avatar-wrapper__verification-badge.avatar-wrapper--position-absolute {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

h2.avatar-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    line-height: 28px;
}

.card-item__avatar-details {
    margin-left: 17px;
}

.card-item__rating img {
    width: 16px;
    height: 16px;
}

.card-item__rating {
    display: flex;
    align-items: center;
}

.card-item__info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.card-item__info-details {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0e9f6e;
}

.card-item__info-details img svg {
    color: #0e9f6e;
}

span.info-count {
    color: #64748b;
    margin-right: 3px;
}

.card-item__info-count button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
}

.card-item__info-count {
    display: flex;
    align-items: center;
}
div.card-item__info-count:hover .info-count {
    text-decoration: underline;
}
div.card-item__info-count:hover button > svg.card-item__info-count-svg > path {
    fill: #49adff;
    stroke: #49adff;
    cursor: pointer;
}

p.card-item__description {
    margin: 8px 0;
    color: #6b7280;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-item__tags {
    display: flex;
    margin-bottom: 24px;
    color: #49adff;
    padding: 8px 0;
    gap: 4px;
    max-height: 68px;
    flex-wrap: wrap;
}

.card-item__tags a:hover {
    color: inherit;
}

.card-item__button {
    margin-top: 32px;
    align-self: end;
}

.card-item__tags .tag:hover {
    text-decoration: underline;
}

button.get-deal-button {
    border: 1.6px solid #49adff;
    outline: none;
    background: transparent;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    color: #49adff;
    gap: 8px;
    align-items: center;
}
button.get-deal-button:hover {
    background-color: #49adff;
    color: white;
}
a.button-link {
    text-decoration: none;
}

.btn-see-more {
    display: flex;
    margin: 32px 0;
    justify-content: center;
}

button.tabs-feature__button.active {
    color: #6bbcff;
}

ul.tabs-feature__list {
    display: flex;
    gap: 16px;
}

button.tabs-feature__button.btn {
    background: transparent;
    padding: 8px 16px;
    font-size: 18px;
    display: flex;
    gap: 8px;
    position: relative;
}

button.tabs-feature__button.btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    background: #65819f;
    left: 0;
}

button.tabs-feature__button.btn:hover::after {
    background: #49adfe;
}

a.tabs-feature__link {
    text-decoration: none;
}

.btn-see-more .btn,
.on-youtube__btn {
    border-radius: 9999px;
    padding: 8px 16px;
    background: #46acfe;
    color: white;
    font-size: 14px;
}

.btn-see-more .btn:hover,
.on-youtube__btn:hover {
    background: #058fff;
}

ul.features-more__list {
    align-items: stretch;
    justify-content: end;
    gap: 16px;
}

button.features-more__button.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    border: 0.8px solid #9ca3af;
    padding: 8px 16px;
    font-size: 14px;
}

img.features-more__icon {
    width: 18px;
    height: 18px;
}

h2.on-youtube__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

p.on-youtube__description {
    font-size: 20px;
    line-height: 28px;
    color: #475569;
}

.info-user {
    display: flex;
    gap: 15px;
}

.info-user__details p {
    margin: 0;
}

p.info-user__count {
    font-weight: 700;
    font-size: 20px;
}

.review-youtube-main {
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
}

.review-youtube-main:hover .review-youtube-main__image {
    transform: scale(1.1);
}

.review-youtube-main__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    padding: 27px;
    border-radius: 50%;
    background: rgb(102, 101, 113);
}

.review-youtube-item {
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}

.review-youtube-item:hover .review-youtube-item__image {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.review-youtube-item:last-child {
    margin-bottom: 0;
}

.wrapper-on-yoututbe {
    padding: 64px 0;
    background-color: #f8fafc;
}

h2.aitool-category__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
}

p.aitool-category__description {
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    color: #475569;
}

.aitool-item {
    display: flex;
    align-items: center;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 -6px 33px -4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 16px;
}

h4.aitool-item__heading {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.aitool-item__icon {
    padding: 16px;
    border-radius: 8px;
    background: #49adff1a;
    margin-right: 18px;
}

span.aitool-item__count {
    color: #757575;
    font-size: 14px;
}

.aitool-item:hover {
    cursor: pointer;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.aitool-item:hover .aitool-item__link {
    text-decoration: underline;
}

p.aitool__description {
    font-size: 20px;
    margin-top: 40px;
    line-height: 36px;
}

.aitool-wrapper {
    padding-top: 40px;
    padding-bottom: 128px;
}

footer {
    background-color: #0a0e23;
}

p.footer-logo__description {
    color: white;
    width: 72%;
    margin-top: 16px;
}

ul.footer-category-list {
    display: flex;
    flex-direction: column;
}

h4.footer-category-list__title {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

a.footer-category-list__link {
    color: #d1d5db;
    font-size: 14px;
}

a.footer-category-list__link:hover {
    text-decoration: underline;
    color: white;
}

ul.footer-category-list li {
    margin-bottom: 16px;
}

.footer-bottom {
    color: #9ca3af;
    font-size: 12px;
    display: flex;
    gap: 16px;
}

a.footer-bottom__link {
    color: #47a8f7;
}

a.footer-bottom__link:hover {
    text-decoration: underline;
}

ul.footer-social__list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: end;
}
img.review-youtube-main__image {
    height: 100%;
    object-fit: cover;
    transition: all 0.1s ease;
}

button.tabs-feature__button.active::after {
    background-color: #6bbcff;
}

button.tabs-feature__button.active svg {
    fill: #6bbcff;
    stroke: #6bbcff;
}

.list-card.active {
    display: flex;
}

.list-card {
    display: none;
}

.popup-filter , .popup-signup,.popup-review {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dbefffb3; /* Màu nền của popup */
    z-index: 9999;
}

.popup-filter-content,.popup-signup-content ,.popup-review-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Màu nền của nội dung popup */
    padding: 24px;
    border-radius: 5px;
    min-width: 425px;
}

.popup-signup-content, .popup-review-content{
    min-width: 896px;
}

.close-popup-filter ,.close-popup-signup ,.close-popup-review {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button.btn.btn-go-to-back {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.footer-social__list a:hover svg {
    fill: beige;
}

h2.popup-filter-section__title {
    font-size: 30px;
    font-weight: 600;
}
p.popup-filter-section__description {
    font-size: 14px;
    color: #6b7280;
}

p.popup-filter-section__description {
    font-size: 14px;
    color: #6b7280;
}

button.btn.popup-filter-actions__apply-btn {
    background: #49adff;
    color: white;
    font-size: 14px;
    width: 50%;
}

.popup-filter-actions {
    display: flex;
    gap: 8px;
}

button.btn.popup-filter-actions__clear-btn {
    width: 50%;
    font-size: 14px;
    background: white;
    border: 1px solid #f3f4f6;
}

button.btn.popup-filter-actions__clear-btn:hover {
    background: #cccccc69;
}

h3.popup-filter-section__title {
    color: #4b5563;
    font-size: 20px;
    font-weight: 600;
}

ul.popup-filter-list {
    display: flex;
    flex-wrap: wrap;
}

li.popup-filter-item {
    width: 50%;
    display: flex;
    align-items: center;
}
label.popup-filter-item__label {
    font-size: 14px;
    margin: 0;
    margin-left: 8px;
    line-height: 24px;
}

.popup-filter-section.line {
    position: relative;
}

.popup-filter-section.line::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 100%;
    left: 0;
    height: 1px;
    background-color: #e5e7eb;
}

.breadcrumb {
    background-color: transparent;
}

.category-item {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 #000, 0 0 #0006, 0 20px 25px -5px rgb(0 0 0 / 17%), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    gap: 8px;
}

h2.category-item__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.category-item__content {
    display: flex;
    flex-direction: column;
}

a.category-item__show-all-link {
    margin-top: auto;
    font-weight: 700;
    color: #49adff;
}

a.category-item__show-all-link:hover {
    text-decoration: underline;
}

a.category-item__link:hover {
    text-decoration: underline;
    color: #64748b;
}

span.category-item__count {
    color: #64748b;
}

.wrapper-categories {
    position: relative;
    top: -129px;
}

.pb-128 {
    padding-bottom: 128px;
}

.pb-48 {
    padding-bottom: 48px;
}

.wrapper-productivity {
    background-color: white;
    border-radius: 8px;
    padding: 32px 16px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 8px 10px rgb(0, 0, 0, 0.15);
}

.productivity-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(73, 173, 255);
}
.productivity-title:hover {
    text-decoration: underline;
}

.productivity-des {
    color: rgb(3, 7, 18);
    font-size: 20px;
    line-height: 24px;
}

.wrapper-content-website {
    margin-top: 64px;
    margin-bottom: 32px;
}

.content-website__title {
    font-size: 36px;
    font-weight: 600;
}
.content-website__list {
    list-style-type: disc;
    padding-left: 32px;
}

h4.in-document__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

a.in-document__link {
    font-size: 20px;
    text-decoration: underline;
}
.content-website p,
.content-website ul {
    font-size: 20px;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination-website-builder a.page-link {
    padding: 8px;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #74749c;
    border: 1px solid rgb(209, 213, 219);
}

.pagination-website-builder .page-item.active .page-link {
    color: rgb(128, 67, 18);
    background: #e7f1fa;
    border-color: rgb(209, 213, 219);
}

.tool-detail-info {
    display: flex;
}

.tool-detail-image {
    width: 78px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tool-detail-image img {
    object-fit: fill;
    width: 100%;
}

h2.tool-detail-title {
    font-size: 40px;
    line-height: 32px;
    font-weight: 600;
}

.tool-detail-content {
    margin-left: 16px;
}

.tool-detail-rating {
    display: flex;
}

a.tool-detail-review {
    color: rgb(73, 173, 255);
    margin-left: 8px;
}

a.tool-detail-review:hover {
    text-decoration: underline;
}

.tool-detail-verified {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 4px;
    color: rgb(73, 173, 255);
}

p.tool-detail-description {
    font-size: 22.4px;
    color: rgb(100, 116, 139);
    margin-top: 12px;
}

.tool-detail-categories {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

span.tool-category-label {
    font-weight: 700;
    margin-right: 6px;
}

a.tool-category-link {
    color: rgb(0, 109, 199);
}

a.tool-category-link:hover {
    text-decoration: underline;
}

a.tool-category-link.tool-detail-more-link {
    color: rgb(73, 173, 255);
    display: inline-flex;
    align-items: center;
}

a.tool-category-link.tool-detail-more-link svg {
    width: 18px;
    height: 18px;
}

.tool-category {
    display: flex;
    align-items: center;
}

.tool-detail-actions {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.tool-detail-image__main img {
    border-radius: 12px;
}

.tool-detail-actions button.btn {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    border: 1px solid rgb(118, 169, 250);
    background: white;
    gap: 8px;
    color: rgb(118, 169, 250);
    border-radius: 8px;
}

.tool-detail-actions button.btn svg {
    width: 20px;
    height: 20px;
}

button.btn.tool-detail-actions__get {
    background: rgb(73, 173, 255);
    color: white;
    font-size: 18px;
}

button.btn.tool-detail-actions__get:hover {
    background: #058fff;
}

.tool-detail-actions button.btn:hover {
    background: #058fff;
    color: white;
}

.tool-detail-tab {
    display: flex;
    justify-content: center;
}

.tool-detail-tab__link.active {
    color: rgb(73, 173, 255);
    border-bottom: 2px solid;
}

a.tool-detail-tab__link {
    display: flex;
    justify-content: center;
    flex: 1;
    border-bottom: 2px solid;
    padding: 8px 0;
    color: rgb(100, 116, 139);
}

.tool-detail-tab:hover {
    color: #49adff;
}

a.tool-detail-tab__link:hover {
    color: #49adff;
}

p.content__date {
    display: flex;
    font-size: 14px !important;
    align-items: center;
    color: rgb(100, 116, 139);
    gap: 9px;
    line-height: 20px;
}

.detail-content {
    font-size: 20px;
}

p.sidebar__label {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

p.sidebar-ads-title {
    font-size: 24px;
    font-weight: 700;
}

li.sidebar-ads-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

ul.sidebar-ads-list {
    display: flex;
    flex-direction: column;
}

li.sidebar-ads-item svg {
    color: #49adff;
    width: 36px;
    height: 36px;
}


a.sidebar-ads-button button.btn {
    width: 100%;
    color: #49adff;
    border-radius: 9999px;
    font-weight: 600;
    margin-top: 16px;
    background-color: #fff;
}

p.content__date {
    display: flex;
    font-size: 14px !important;
    align-items: center;
    color: rgb(100, 116, 139);
    gap: 9px;
    line-height: 20px;
}

.detail-content p {
    font-size: 20px;
}

p.sidebar__label {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.sidebar-ads {
    background: #49adff;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 12px;
    color: white;
}


p.sidebar-ads-description {
    font-weight: 600;
}

li.sidebar-ads-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}


li.sidebar-ads-item svg {
    color: #49adff;
    width: 36px;
    height: 36px;
}

a.sidebar-ads-button {
    width: 100%;
    display: flex;
}

.detail-promote {
    padding: 40px 0;
    background: rgb(73, 173, 255);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5494572829131652) 0%, rgba(73, 173, 254, 1) 100%);
}

p.detail-promote-title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.detail-promote-actions {
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    height: 100%;
}

span.detail-promote-action {
    display: flex;
    align-items: center;
    gap: 8px;
}

ul.detail-promote-actions-list {
    display: flex;
}

a.detail-promote-action-link {
    display: flex;
}

button.btn.detail-promote-action-button {
    border-radius: 50%;
    color: white;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background: rgb(148, 207, 255);
}

button.btn.detail-promote-action-button:hover {
    background: #058fff;
}

.detail-review {
    background: rgb(219, 239, 255);
}

.detail-review-heading {
    font-size: 30px;
    font-weight: 600;
}

.btn.detail-review-btn {
    border: 1px solid rgb(118, 169, 250);
    background: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(118, 169, 250);
    border-radius: 8px;
    padding: 8px 32px;
}

.btn.detail-review-btn:hover {
    background-color: #058fff;
    color: white;
}

.detail-review-action {
    display: flex;
    justify-content: end;
}

.detail-review-ratings {
    background: white;
    padding: 24px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.detail-review-ratings {
    display: flex;
}

span.detail-review-rating {
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

p.detail-review-rating-info {
    font-size: 18px;
    color: rgb(75, 85, 99);
}

.detail-review-star-item {}
.detail-review-comment-header{
    display: flex;
    gap: 12px;
}
.review-comment-header__avt img{
    border-radius: 50%;
    overflow: hidden;
}

.detail-review-star-container img {
    width: 16px;
}

.detail-review-comment-rating {
    display: flex;
    align-items: center;
}

.detail-review-star-container {
    display: flex;
    margin-right: 9px;
}
.detail-review-username{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

p.detail-review-text {
    color: rgb(117, 117, 117);
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

a.detail-review-read-more-link {
    color: #49adff;
    display: flex;
    align-items: center;
    gap: 8px;
}

a.detail-review-read-more-link:hover ,.tool-related-link:hover{
    text-decoration: underline;
    color: #49adff;

}

.tool-related-link{
    color: #49adff;
}

.review-star-item__line {
    flex: 1;
    height: 8px;
    background: rgb(241, 245, 249);
    border-radius: 9999px;
}

.review-star-item__line.have-count{
    background-color: rgb(73, 173, 255);
}

.review-star-item__count{
    color: rgb(75, 85, 99);
}

.detail-content h2{
    font-size: 30px;
    font-weight: 700;
}

.detail-content ul {
    list-style: disc;
    padding-left: 30px;
}


.detail-content h3{
    font-size: 24px;
    font-weight: 700;
}


#popup-signup h4.policy-title {
    font-size: 18px;
    color: rgb(63, 131, 248);
}

#popup-signup p.policy-description {
    font-size: 14px;
    color: rgb(107, 114, 128);
}

#popup-signup p.info-text {
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#popup-signup .signup-info {
    display: flex;
    flex-direction: column;
}

#popup-signup button.btn.btn-google {
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    background: #c81e1e;
    padding: 8px 16px;
}

#popup-signup .info-text-1{
    font-size: 12px;
    text-align: center;
    color: rgb(107, 114, 128);
}

#popup-signup .info-text-1 a {
    color: rgb(63, 131, 248);
}

#popup-signup .info-text-1 a:hover{
    text-decoration: underline;
}

h2.review-title {
    font-size: 18px;
    font-weight: 700;
}

p.review-description {
    font-size: 14px;
    color: rgb(107, 114, 128);
    margin: 0;
}

.star-rating {
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
    margin-top: 8px;
}

textarea.review-textarea {
    width: 100%;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    height: 120px;
}

.review-guidelines {
    font-size: 14px;
    margin: 13px 0;
}

.star-rating{
    color: #ccc;

}

.star-rating svg{
    cursor: pointer;
}

button.btn.post-review-button {
    background: #058fff;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    width: 100%;
}

.detail-sidebar{
    position: sticky;
    top: 80px;
}